{% load static %}
<section class="single_product_list">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% for item in banner %}
                <div class="single_product_iner">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_product_img">
                                <img src="{% get_media_prefix %}{{ item.image }}" class="img-fluid" alt="#">
                                <img src="{% static 'img/product_overlay.png' %}" alt="#" class="product_overlay img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6">
                            <div class="single_product_content">
                                <h5>{{ item.title }}</h5>
                                <h2> <a href="{% url 'product' %}">{{ item.about|safe }}</a> </h2>
                                <a href="{% url 'product' %}" class="btn_3">{{ item.button }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>