{% extends 'index.html' %}
{% load static %}


{% block title %}
    Товари
{% endblock %}


{% block main_content %}
    <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        {% if title %}
                        <h2>Товари > {{ title }}</h2>
                        {% else %}
                        <h2>Товари</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->

    <!-- product list part start-->
    <section class="product_list section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="product_sidebar">
                        <div class="single_sedebar">
                            <form action="#">
                                <input type="text" name="#" placeholder="Шукати">
                                <i class="ti-search"></i>
                            </form>
                        </div>
                        <div class="single_sedebar">
                            <div class="select_option">
                                <div class="select_option_list">Категорії <i class="right fas fa-caret-down"></i> </div>
                                <div class="select_option_dropdown">
                                    <p><a href="{% url 'product' %}">Всі</a></p>
                                    {% for item in category %}
                                    <p><a href="{% url 'product' %}{{ item.slug }}">{{ item.title }}</a></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% if category_type %}
                        <div class="single_sedebar">
                            <div class="select_option">
                                <div class="select_option_list">Тип <i class="right fas fa-caret-down"></i> </div>
                                <div class="select_option_dropdown">
                                    {% for item in category_type %}
                                    <p><a href="{{ item.slug }}">{{ item.title_extra }}</a></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="product_list">
                        <div class="row">

                            {% for item in products %}
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_product_item">
                                    <img src="{% get_media_prefix %}{{ item.image }}" alt="#" class="img-fluid" style="height: 300px">
                                    <h3> <a href="{% url 'product_item' item.slug %}">{{ item.title|safe }}</a> </h3>
                                    <a href="{% url 'product_item' item.slug %}" class="btn_3">Переглянути</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    <div class="load_more_btn text-center">
                    {% if  products.has_other_pages %}
                    {% for p in products.paginator.page_range %}
                    {% if products.number == p %}
                        <a class="btn_3 btn_3_page">{{ p }}</a>
                    {% elif p >= products.number|add:-2 and p <= products.number|add:2 %}
                        <a href="?page={{ p }}" class="btn_3">{{ p }}</a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product list part end-->

    <!-- subscribe part here -->
    <section class="subscribe_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe_part_content">
                        <h2>Get promotions & updates!</h2>
                        <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources credibly innovate granular internal .</p>
                        <div class="subscribe_form">
                            <input type="email" placeholder="Enter your mail">
                            <a href="#" class="btn_1">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe part end -->
{% endblock %}
